<html>

<head>
  <title>Three.js App</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Import Libraries -->
  <script src="js/three.js"></script>
  <script src="js/controls/OrbitControls.js"></script>
  <script src="js/loaders/GLTFLoader.js"></script>
  <script src="js/Detector.js"></script>
  <script src="js/libs/stats.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
</body>
</body>
<section id="logo"><ul class="logo"></ul>

  <ul class="logo1" id="logo1"><p>B.E.A.R AI Tutor API<br><br>call B.E.A.R with 0.0.0.0:5000/BEAR?msg= your message goes here</p></ul>
  



</html>